@model PagedList.IPagedList<Order>
@using PagedList.Mvc



<div class="page-header">
    <h1>Northwind Customers <small>select customer</small></h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">Choose an Order</div>
            <div class="panel-body" id="tblCusts">
                @* invoke _Cust partial view with model;
                    only used on first render, thereafter with ajax call on paginator
                *@
                @{ Html.RenderPartial("_Cust", Model); }
            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info panel-infoRight">
            <div class="panel-heading">Employees</div>
            <div class="panel-body" id="tblCustOrders">
            </div>
        </div>
    </div>
</div>
